language: generic
sudo: false

env:
  global:
    - INSTALL_EDM_VERSION=1.10.0
      PYTHONUNBUFFERED="1"

matrix:
  include:
    - env: RUNTIME=2.7 TOOLKITS="null pyqt pyside"
    - env: RUNTIME=2.7 TOOLKITS="pyside2"
    - env: RUNTIME=3.5 TOOLKITS="null pyqt pyqt5"
    - env: RUNTIME=3.5 TOOLKITS="pyside2"
    - env: RUNTIME=3.6 TOOLKITS="null pyqt pyqt5"
    - env: RUNTIME=3.6 TOOLKITS="pyside2"
    - os: osx
      env: RUNTIME=2.7 TOOLKITS="null pyside pyqt"
    - os: osx
      env: RUNTIME=2.7 TOOLKITS="pyside2"
    - os: osx
      env: RUNTIME=2.7 TOOLKITS="pyqt"
    - os: osx
      env: RUNTIME=3.5 TOOLKITS="null pyqt5 pyqt"
    - os: osx
      env: RUNTIME=3.5 TOOLKITS="pyside2"
    - os: osx
      env: RUNTIME=3.6 TOOLKITS="null pyqt5 pyqt"
    - os: osx
      env: RUNTIME=3.6 TOOLKITS="pyside2"
  allow_failures:
    - env: RUNTIME=2.7 TOOLKITS="pyside2"
    - env: RUNTIME=3.5 TOOLKITS="pyside2"
    - env: RUNTIME=3.6 TOOLKITS="pyside2"
    - os: osx
      env: RUNTIME=2.7 TOOLKITS="pyside2"
    - os: osx
      env: RUNTIME=2.7 TOOLKITS="pyqt"
    - os: osx
      env: RUNTIME=3.5 TOOLKITS="pyside2"
    - os: osx
      env: RUNTIME=3.6 TOOLKITS="pyside2"
  fast_finish: true

branches:
  # We have both "Build pushes" and "Build PRs" turned on. Without the
  # following setting, Travis CI will do 2 builds for every update to a PR, one
  # which is tested as merged into master (what we want) and one just as the
  # raw PR branch (meh). We'd also like to run an additional test for any
  # pushes to master (which should only be PR merges). The following setting
  # whitelists master as a branch for the "push" builds. PR builds will happen
  # regardless. If you want your WIP branches tested, open up a WIP PR.
  only:
    - master

cache:
  directories:
    - $HOME/.cache
    - $HOME/.ccache

before_install:
  - mkdir -p "${HOME}/.cache/download"
  - export DISPLAY=:99.0
  - if [[ ${TRAVIS_OS_NAME} == "linux" ]] ; then sh -e /etc/init.d/xvfb start; fi
  - if [[ ${TRAVIS_OS_NAME} == 'linux' ]]; then ./install-edm-linux.sh; export PATH="${HOME}/edm/bin:${PATH}"; fi
  - if [[ ${TRAVIS_OS_NAME} == 'osx' ]]; then ./install-edm-osx.sh; export PATH="${PATH}:/usr/local/bin"; fi
  - edm install -y wheel click coverage

install:
  - for toolkit in ${TOOLKITS}; do edm run -- python etstool.py install --runtime=${RUNTIME} --toolkit=${toolkit} || exit; done

script:
  - for toolkit in ${TOOLKITS}; do edm run -- python etstool.py test --runtime=${RUNTIME} --toolkit=${toolkit} || exit; done

after_success:
  - edm run -- coverage combine
  - edm run -- pip install codecov
  - edm run -- codecov
